* {
    margin: 0;
    padding: 0;
}

main {
    text-align: center;
    margin-top: 70px;
}

h1 {
    color: black;
    font-size: 40px;
}

#backButton {
    font-size: 20px;
    color: white;
    background-color: purple;
    padding: 13px 30px;
    border-radius: 8px;
}

#clearScores {
    font-size: 20px;
    color: white;
    background-color: purple;
    padding: 13px 30px;
    border-radius: 8px;
}

#highScoresList {
    font-size: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
}